# Ignore node_modules directory for frontend
task-management-app/node_modules/

# Ignore build artifacts for frontend
task-management-app/build/
task-management-app/dist/

# Ignore .env files (contains sensitive information)
task-management-app/.env
task-management-backend/.env

# Ignore Python virtual environment
task-management-backend/venv/

task-management-backend/logs/

# Ignore database files
task-management-backend/db.sqlite3


**/.idea/